.block-float {
		
border: none;
         	
}

#block-float-float-bk {
		position:fixed;
		top:0px;
                left:835px;
		float:right;
		  width:171px;
            height:150px;
            z-index:1000;
background-color: transparent;

border: 0px solid rgba(255, 255, 255, 0.1);
         	
}
#medallion {
		
 width:171px;
 height:150px;
 cursor:pointer;
 background-image:url('images/medallion120.png');
 background-repeat:no-repeat;
               
		
}

#close_medallion 

{
position:relative;	
float:right;
cursor:pointer;
z-index:101;
right:15px;
top:15px;             
}

 